.Style {
    text-align: center;
    background-color: #241e42;
  }
  
  
  
  
  
  .App-header {
    background-color: #2505c3;
    min-height: flex;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  nav {
    background-color: cornsilk;
  }
  
  nav a {
    display: inline-block;
    margin: 1rem;
    padding: 0.25rem;
    text-decoration: none;
    font-size: 1.2em;
    color: firebrick;
    border-bottom: 2px solid firebrick;
    transition: 0.1s;
  }
  
  nav a:hover,
  nav a:active {
    color: tomato;
    border-bottom: 2px solid tomato;
  }
  
  nav a.active {
    color: white;
    background: tomato;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  