.Style {
    text-align: center;
    background-color: #241e42;
  }
  
  
  .App-header {
    background-color: #2505c3;
    min-height: flex;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  nav {
    background-color: cornsilk;
  }
  
  nav a {
    display: inline-block;
    margin: 1rem;
    padding: 0.25rem;
    text-decoration: none;
    font-size: 1.2em;
    color: firebrick;
    border-bottom: 2px solid firebrick;
    transition: 0.1s;
  }
  
  nav a:hover,
  nav a:active {
    color: tomato;
    border-bottom: 2px solid tomato;
  }
  
  nav a.active {
    color: white;
    background: tomato;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .chat {
    display: grid;
    flex-wrap: wrap;
    justify-content: left;
    text-emphasis-color: gray;
    text-shadow: blue;
    background: #c0cfe9;
    margin: 4px;
    border: 4px;
    color: black
    
  } 

  .card {
    margin: 1rem;
    display: grid;
    flex-wrap: wrap;
    justify-content: left;
    text-emphasis-color: gray;
    text-shadow: blue;
    background: #c0cfe9;
    margin: 4px;
    border: 4px;
    color: black
    
  } 

  
  .card .image {
    height: 225px;
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
  }

 
  
  

  .img {
    height: 300px;
    width: 300px;
  }
  
  .emoji-button {
    border: none;
    background: none;
    padding: 0 0.25rem;
    cursor: pointer;
  }
  
  .emoji-button.favorite {
    color: transparent;
    text-shadow: 0 0 0 gray;
  }
  
  .emoji-button.favorite.active,
  .emoji-button.favorite:hover {
    text-shadow: 0 0 0 gold;
    cursor: pointer;
  }